# macOS
.DS_Store
.env

# Build results
/artifacts
/target

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# IDEs
.vscode/
.idea/
*.iml
**/.editorconfig

# manager configs
manager_configs/**
# add ntrn devnet to our repo for easy access and not making it public
!manager_configs/ntrn-devnet/
!manager_configs/ntrn-devnet/**/*
!manager_configs/ntrn-devnet-2/
!manager_configs/ntrn-devnet-2/**/*